body {
    background-color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: middle;
}

#logo {
    display: flex;
    justify-content:center;
    align-items: center;
}

h1 {
    vertical-align: middle;
    text-align: center;
}

#description {
    text-align: center;
}

* {
    box-sizing: border-box;
  }

button {
    position:fixed;
    left: 42.5%;
    margin-top: 20px;
    border: none;
    border-radius: 16px;
    padding: 1rem 2rem;
    background: #e79b0c;
    color: #ffffff;
    font-family: inherit;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
}

button:hover{
    background:  #cf8700;
}

#event-details-container{
    clear: none;
  }

#container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .clearfix {
    clear: both;
  }
  
  .hidden {
    display: none;
  }
  
  #user-info {
    border: 1px solid #CCC;
    clear: both;
    margin: 0 auto 20px;
    max-width: 400px;
    padding: 10px;
    text-align: left;
  }
  
  #photo-container {
    background-color: #EEE;
    border: 1px solid #CCC;
    float: left;
    height: 80px;
    margin-right: 10px;
    width: 80px;
  }
  
  #photo {
    height: 80px;
    margin: 0;
    width: 80px;
  }
  
  @media (max-width: 300px) {
    #photo-container,
    #photo {
      height: 40px;
      width: 40px;
    }
  }